
img{
    padding-left: 2px;
    width: 54px;
    height: 52px;
}

body{
    background-image: url(zr.jpg);
    margin: 0%;
    padding: 0%;
}

.satu{
    margin: 13px;
}
.kedua{
    margin: 13px;
}
.ketiga{
    margin: 13px;
}
.empat{
    margin: 13px;
}
.lima{
    margin: 13px;
}
.enam{
    margin: 13px;
}
.tujuh{
    margin: 13px;
}
.lapan{
    margin: 13px;
}